@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&display=block");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Zen+Maru+Gothic&display=fallback");

@font-face {
    font-family: "unifont";
    src: url("/unifont_jp.otf");
}

.icon {
    font-family: "Material Symbols Rounded";
    font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
    font-size: 20px;
    vertical-align: -4px;
}

.icon.fill {
    font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 0, "opsz" 24;
}

textarea {
    box-sizing: border-box;
}
textarea,
input,
select:not(.no-font) {
    font-family: "Noto Sans", monospace;
}
hr {
    margin: 20px 0;
    border-color: #666;
}

h1,
p,
span,
label,
button,
a,
select.no-font,
h2,
li {
    font-family: "Zen Maru Gothic", serif;
    font-weight: 400;
    font-style: normal;
}

.scroll::-webkit-scrollbar {
    background-color: #222;
    width: 3px;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #bbb;
}

a .bi {
    margin-right: 5px;
}

.font-mc {
    font-family: "unifont";
}
