@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');

textarea {
    box-sizing: border-box;
}
textarea, input, select:not(.no-font) {
    font-family: "Noto Sans Mono", monospace;
}
hr {
    margin: 20px 0;
    border-color: #666;
}

h1, p, span, label, button, a, select.no-font {
    font-family: "Zen Maru Gothic", serif;
    font-weight: 400;
    font-style: normal;
}

body::-webkit-scrollbar {
    background-color: #222;
    width: 3px;
}

body::-webkit-scrollbar-thumb {
    background-color: #bbb;
}

a .bi {
    margin-right: 5px;
}