@font-face {
    font-family: "Noto Sans Mono";
    src: url("/NotoSansMono-Regular.ttf");
}
@font-face {
    font-family: "Zen Maru Gothic";
    src: url("/ZenMaruGothic-Regular.ttf");
}
@font-face {
    font-family: "unifont";
    src: url("/unifont_jp.otf");
}

textarea {
    box-sizing: border-box;
}
textarea,
input,
select:not(.no-font) {
    font-family: "Noto Sans Mono", monospace;
}
hr {
    margin: 20px 0;
    border-color: #666;
}

h1,
p,
span,
label,
button,
a,
select.no-font,
h2,
li {
    font-family: "Zen Maru Gothic", serif;
    font-weight: 400;
    font-style: normal;
}

.scroll::-webkit-scrollbar {
    background-color: #222;
    width: 3px;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #bbb;
}

a .bi {
    margin-right: 5px;
}

.font-mc {
    font-family: "unifont";
}
