
# AP12's ToolBox

> ## Version 1.2.0

---

# 更新履歴

> ## Version1.2.0
>
> > 新機能を追加/修正
> >
> > - 電卓機能を追加
> > - 画像形式変換を複数ファイル同時に行えるように
> > - 利用規約とプライバシーポリシーを追加

---

> ## Version1.1.0
>
> > 新機能を追加
> >
> > - カラーピッカー
> > - 数式計算機

---

> ## Version1.0.0
>
> > 初期版リリース
