.color-black {
    color: #000;
    font-family: unifont;
}
.color-dark_blue {
    color: #00a;
    font-family: unifont;
}
.color-dark_green {
    color: #0a0;
    font-family: unifont;
}
.color-dark_aqua {
    color: #0aa;
    font-family: unifont;
}
.color-dark_red {
    color: #a00;
    font-family: unifont;
}
.color-dark_purple {
    color: #a0a;
    font-family: unifont;
}
.color-gold {
    color: #fa0;
    font-family: unifont;
}
.color-gray {
    color: #aaa;
    font-family: unifont;
}
.color-dark_gray {
    color: #555;
    font-family: unifont;
}
.color-blue {
    color: #55f;
    font-family: unifont;
}
.color-green {
    color: #5f5;
    font-family: unifont;
}
.color-aqua {
    color: #5ff;
    font-family: unifont;
}
.color-red {
    color: #f55;
    font-family: unifont;
}
.color-light_purple {
    color: #f5f;
    font-family: unifont;
}
.color-yellow {
    color: #ff5;
    font-family: unifont;
}
.color-white {
    color: #fff;
    font-family: unifont;
}

b span {
    font-weight: bold;
}
